:root{
    --primaryColor: #2E948A;
    --secondaryColor: #FF4081;
}
#banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#banner div {
    max-width: 400px;
    margin: 50px;
}
h2 {
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}
.exploreButton {
    border: 2px solid var(--secondaryColor);
    border-radius: 62px;
    width: 289px;
    color: var(--secondaryColor);
    text-align: center;
    font-size: 25px;
    margin-top: -55rem;
    padding: 0.5em 1em;
}
#courseOptions { 
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 730px;
}
#courseOptions div{
    max-width: 340px;
    margin: 50px;
    text-align: center;
}
#courseOptions div picture img{
    height: 270px;
}
h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: var(--secondaryColor);
}
h4 {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.pink_button {
    padding: 1em 2.85em;
    border: 2px solid transparent;
    border-radius: 62px;
    width: 289px;
    color: #fff;
    background: var(--secondaryColor);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center
}
#sobre_title {
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: var(--primaryColor);
    width: 100%;
    margin-left: 90px;
}
#sobre {
    background-color: #Fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 730px;
}
.feedbackCards   {
    max-width: 495px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}
.icon   {
    margin: 28px;
}
.dep {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.nome {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
#conteudo{
    min-height: 577px;
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 63px;
}
#recomendation {
    
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
#recomendation_title {
    text-align: left;
    width: 90%;
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    margin-left: 90px;
}
#recomendation .post{
    max-width: 319px;
    margin: 50px;
    text-align: left;
}
.imgPostagem {
    width: 319px;
    height: 193px;
    margin-bottom: 15px;
    background-color: #C4C4C4;
}
.tituloPost {
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}
.resumoPost {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
h1{ 
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: var(--secondaryColor);
    justify-content: left;
}
    @media screen and (max-width: 600px  ) {
        section img {
            display: none;
        }
    }